body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;  /* 'with' изменено на 'width' */
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;  /* 'with' изменено на 'width' */
    float: left;
}

aside .logo {
    position: relative;
    top: -5px;
}

aside h3 {
    font-size: 30px;
}

aside ul {
    list-style: none;
}

aside li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform 0.6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #ed5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
   color: #fff;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert-warning {
    float: left;
    clear: both;
    with: 400px;
    margin: 20px 34%;
    text-align: left;
}
.text-box {
    border: 2px solid #000; /* Черная рамка */
    padding: 10px; /* Внутренний отступ */
    margin: 10px 0; /* Отступ сверху и снизу */
    border-radius: 5px; /* Скругленные углы */
}

.content-wrapper {
    border: 2px solid #ccc; /* Задайте цвет и толщину рамки */
    padding: 20px; /* Добавьте отступы внутри рамки */
    display: flex; /* Сделайте содержимое гибким */
    align-items: center; /* Вертикально центрируйте элементы */
    justify-content: center; /* Горизонтально центрируйте элементы */
    max-width: 600px; /* Установите максимальную ширину контейнера */
    margin: auto; /* Центрируйте контейнер на странице */
    background-color: #f9f9f9; /* Добавьте фон, если нужно */
    border-radius: 10px; /* Сделайте углы рамки скругленными */
}
.content-wrapper img {
    max-width: 100px; /* Задайте максимальную ширину изображения */
    height: auto; /* Сохраните пропорции изображения */
    margin-right: 20px; /* Добавьте отступ справа от изображения */
}

/* Добавьте этот CSS в ваш файл стилей */

.square-image {
    width: 200px; /* Установите желаемую ширину квадрата */
    height: 200px; /* Установите ту же высоту, чтобы сделать изображение квадратным */
    object-fit: cover; /* Масштабирование изображения, чтобы оно заполнило элемент, сохраняя соотношение сторон */
    display: block; /* Убедитесь, что изображение ведет себя как блок */
    margin: 0 auto 10px; /* Центрируем изображение и добавляем отступ снизу */
    border-radius: 10px; /* Если нужно, добавьте скругленные углы */
}
